.our-partner .partner-box {
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 60px;
    padding: 10px 20px;
}

@media screen and (max-width: 575px) {
    .our-partner .partner-box {
        padding: 7px 10px;
    }
}